body.dark-mode .category-page {
    background-color: #1a202c;
  }
  
  .drop {
    margin-top: 5rem;
  }

  .category-page {
    overflow-x: hidden;
  }

  @media (max-width: 760px) {
    .category-page main {
      margin-top: 140px;
    }
  } 

  